body {
	background-image:url("assorted_books.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100%;
	overflow: hidden;
}

#form-back {
	background-color: rgba(255,255,255, 0.95);
}

a.custom-card{
	color: black;
}
a.custom-card:hover{
	color: blue;
}

.scroll-div{
	overflow-y: scroll;
	height: calc(100% - 50px);
}
